<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <!--SMS service-->
    <add key="SMS_HTTPS" value="False" />
    <add key="SMS_LOGIN" value="" />
    <add key="SMS_PASSWORD" value="" />
    <!--E-MAIL service-->
    <add key="EMAIL_HTTPS" value="False" />
    <add key="EMAIL_SMTP_FROM" value="mailer@test.ru" />
    <add key="EMAIL_SMTP_HOST" value="smtp.test.ru" />
    <add key="EMAIL_SMTP_PORT" value="25" /> <!--or 465-->
    <add key="EMAIL_SMTP_LOGIN" value="user" />
    <add key="EMAIL_SMTP_PASSWORD" value="user" />
    <!--PROXY-->
    <add key="PROXY_HTTP_ADDRESS" value="" /> <!--165.225.68.32-->
    <add key="PROXY_HTTP_PORT" value="" /> <!--80-->
    <add key="PROXY_HTTPS_ADDRESS" value="" /> <!--165.225.68.32-->
    <add key="PROXY_HTTPS_PORT" value="" /> <!--443-->
    <add key="PROXY_USER_NAME" value="" />
    <add key="PROXY_USER_PASSWORD" value="" />
  </appSettings>
</configuration>
